$blue-light: #45A7FF;
$blue-normal: #0077FC;
$blue-dark: #0064BF;

$cyan-light: #D9FDFF;
$cyan-normal: #BAF8FF;
$cyan-dark: #7EF2F2;

$green-light: #8BFDDA;
$green-normal: #3DFBC2;
$green-dark: #16B77D;

$grey-veryLight: #F2F2F2;
$grey-light: #E2E2E2;
$grey-normal: #C1C1C6;
$grey-dark: #AAAAB2;
$grey-veryDark: #7C7C84;
$grey-darkest: #585860;

$yellow-light: #FFDB80;
$yellow-normal: #FFC304;
$yellow-dark: #EFA500;

$white: #FFFFFF;
$black: #000000;
