@font-face {
  font-family: 'cloudify';
  src: url('../fonts/cloudify/cloudify.eot?r9046i');
  src: url('../fonts/cloudify/cloudify.eot?r9046i#iefix') format('embedded-opentype'),
       url('../fonts/cloudify/cloudify.ttf?r9046i') format('truetype'),
       url('../fonts/cloudify/cloudify.woff?r9046i') format('woff'),
       url('../fonts/cloudify/cloudify.svg?r9046i#gigaspaces') format('svg');
  font-weight: normal;
  font-style: normal;
}
